.nav
    height: 6rem
    width: 100%
    display: flex
    align-items: end
    justify-content: space-between
    font-size: 2.4rem
    margin-bottom: 6rem
    &__list
        display: flex
        flex-direction: row
        padding-right: 3rem
    &__item
        list-style-type: none
        &:not(:last-child)
            margin-right: 2rem
    &__link
        text-decoration: none
        color: #ABB2BF
        font-size: 16px
        &:active
            color: #FFFFFF

.logo
    width: 20rem
    &__img
        width: 20rem
        height: 10rem
        
.left
    display: flex
    align-items: center
    justify-content: space-between
